automation/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2162cff1-d7a2-46c0-8ec6-cddcbce03e9e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"question\": \"Пользователь хочет зайти в ликвидный стейкинг на Ethereum, но боится резкого депега (отвязки цены) LST-токена. Какие 3 конкретных индикатора в ончейн-метриках он должен мониторить, чтобы выйти вовремя?\",\n    \"ideal_answer\": \"Мониторинг соотношения резервов в пулах ликвидности (например, Curve), объем выкупов (redemptions) у протокола и динамику скидки (discount) на вторичном рынке.\"\n  },\n  {\n    \"question\": \"Клиент спрашивает: «Могу ли я вернуть деньги за онлайн-курс, если я просмотрел только 20% уроков, но в оферте написано, что возврат невозможен после получения доступа?». Ответь с точки зрения закона о защите прав потребителей РФ.\",\n    \"ideal_answer\": \"Да, потребитель имеет право отказаться от услуг в любое время, оплатив исполнителю фактически понесенные расходы (ФПР). Условие в оферте о полном запрете возврата ущемляет права потребителя и считается ничтожным.\"\n  },\n  {\n    \"question\": \"Сравни риск-профиль предоставления ликвидности в пулы Uniswap v3 (узкий диапазон) и классический фарминг в PancakeSwap v2. В каком случае Impermanent Loss ударит сильнее при росте цены актива на 50%?\",\n    \"ideal_answer\": \"В Uniswap v3 при узком диапазоне концентрация ликвидности выше, поэтому Impermanent Loss (непостоянные потери) наступит быстрее и будет значительно больше, чем в широком диапазоне v2.\"\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a631f80c-05ba-4017-9f96-ea090df5f455",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-lite-001\", \n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Отвечай максимально коротко и сухо.\" },\n    { \"role\": \"user\", \"content\": \"{{ $json.question }}\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -96
      ],
      "id": "db14aadb-7e9f-4f94-a607-f19c9af37a92",
      "name": "LLM_Prompt_A"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -16
      ],
      "id": "08f0758d-4c63-469e-a46e-8207b22fe578",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a53483b-f5ef-4092-ae2e-b42f9cf44aa0",
              "name": "question",
              "value": "={{ $('Code in JavaScript').item.json.question }}",
              "type": "string"
            },
            {
              "id": "93cf32cf-462a-4ac1-abc4-99918ef97ea5",
              "name": "ideal_answer",
              "value": "={{ $('Code in JavaScript').item.json.ideal_answer }}",
              "type": "string"
            },
            {
              "id": "a1f4ff26-1d40-44bc-9c13-89854331520d",
              "name": "answer_a",
              "value": "={{ $('LLM_Prompt_A').item.json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "b9a4994b-7dd4-4253-8b64-7db088e42e94",
              "name": "answer_b",
              "value": "={{ $('LLM_Prompt_B').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -16
      ],
      "id": "1fa072ac-7d73-41f3-8a21-190c52004a97",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-lite-001\", \n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Используй технику Chain-of-Thought. Сначала подробно рассуждай, анализируй детали, а в конце выдай итоговый ответ.\" },\n    { \"role\": \"user\", \"content\": \"{{ $json.question }}\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        48
      ],
      "id": "421e6bb0-075d-4f81-b1b0-8509ed9509b0",
      "name": "LLM_Prompt_B"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        -16
      ],
      "id": "74de282a-e898-4cd3-80d8-5270908b78b1",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "LLM_Prompt_A",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM_Prompt_B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Prompt_A": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Prompt_B": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9f9f3d37-9e3f-44b3-b485-7b4421ea74f9",
  "meta": {
    "instanceId": "13a9309d1fbfa17ec01066f4b8570d58587e754b82e83f4e9362dd4b0e373a55"
  },
  "id": "lhZNskCgNgDs7jlJ",
  "tags": []
}